.contact-us-form-container {
  max-width: 1790px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 1px solid var(--main-green);
  background-color: #fff;
}



.contact-us-form {
  padding: 130px 100px;
  flex-grow: 1;
}

#home .contact-us-form {
  padding-top: 125px;
  padding-bottom: 125px;
}

.project-type-part {
  max-width: 305px;
  width: 100%;
}

.project-type-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.45px;
  margin-bottom: 20px;
  color: var(--main-gray);
}

.project-type-checkbox-item + .project-type-checkbox-item {
  margin-top: 20px;
}

.project-type-checkbox-item > input {
  display: none;
}

.project-type-checkbox-item > label {
  padding: 40px 20px;
  border-radius: 5px;
  background-color: #fafafa;
  cursor: pointer;
  border: 1px solid #fafafa;
  transition: all 0.1s ease-in;
  display: block;
}

.project-type-checkbox-item > label .type-name {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: var(--main-black);
  display: block;
  margin-bottom: 15px;
  transition: all 0.1s ease-in;
}

.project-type-checkbox-item > label .type-info {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  max-width: 160px;
  display: block;
  color: var(--main-gray);
  transition: all 0.1s ease-in;
}

.project-type-checkbox-item > label:hover {
  background-color: #fff;
  border-color: var(--main-green);
}

.project-type-checkbox-item > label:hover .type-name,
.project-type-checkbox-item > label:hover .type-info {
  color: var(--main-green);
}

.project-type-checkbox-item > input:checked + label {
  background-color: var(--main-green);
  border-color: var(--main-green);
}

.project-type-checkbox-item > input:checked + label .type-name,
.project-type-checkbox-item > input:checked + label .type-info {
  color: #fff;
}

.main-form-part {
  max-width: 740px;
  margin-left: 85px;
  width: 100%;
}

.input-item {
  position: relative;
  max-width: 500px;
}

.input-item input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #d3d3d4;
  padding-bottom: 20px;
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.input-item input ~ label {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: 5px;
  left: 25px;
  transition: 300ms ease all;
}

.input-item input:hover ~ label {
  color: var(--main-green);
}

.input-item input:focus ~ label {
  top: -20px;
  font-size: 12px;
  color: var(--main-gray);
  font-weight: 400;
}

.input-item input[readonly] ~ label {
  font-size: 18px;
  top: 5px;
  font-weight: 700;
  color: var(--main-black);
}

.input-item input.focused[readonly] ~ label,
.input-item input.focused ~ label {
  top: -20px;
  font-size: 12px;
  color: var(--main-gray);
  font-weight: 400;
}
.main-form-part .input-item + .input-item {
  margin-top: 100px;
}

.form-agreement {
  margin-top: 30px;
  max-width: 500px;
}

.form-agreement .agreement-text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--main-gray);
}

.form-agreement .agreement-text a {
  color: var(--main-green);
}

.form-agreement .icon-wrap {
  max-width: 30px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid var(--main-gray);
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
}

.input-file .input-file-fake {
  max-width: 330px;
  width: 100%;
  margin-right: 15px;
}

.input-file .btn {
  width: 155px;
}

.trusted-by-part {
  background-color: var(--main-green);
  width: 100%;
  max-width: 439px;
  padding: 100px 50px 0 50px;
}

.trusted-by-part .trusted-by-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.3;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.trusted-by-part .trusted-by-img {
  width: 50%;
  text-align: center;
  margin: 30px 0;
  opacity: 0.7;
}

.radio-month-item input {
  display: none;
}

.radio-month-item {
  width: 100%;
  max-width: 155px;
}

.radio-month-item input ~ label {
  display: block;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--main-black);
  border-radius: 5px;
  line-height: 1;
  padding: 11px 10px;
  width: 100%;
}

.radio-month-item input ~ label:hover,
.radio-month-item input:checked ~ label {
  border-color: var(--main-green);
  color: var(--main-green);
}

.radio-group-month {
  margin-bottom: 100px;
}

.radio-group-month .radio-month-item + .radio-month-item {
  margin-left: 15px;
}

.project-team-item > label {
  padding: 15px 25px;
}

.project-team-item label .project-type-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--main-black);
}

.team-count-range .ui-slider-handle {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  background-color: var(--main-green);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.team-count-range {
  background-color: #e2e2e2;
  border: none !important;
  height: 2px;
}

.project-team-item label:hover .team-count-range {
  background-color: #e5f7f0;
}

.project-type-checkbox-item input:checked + label .team-count-range {
  background-color: #019c61;
}

.project-type-checkbox-item
  input:checked
  + label
  .team-count-range
  .ui-slider-handle {
  background-color: #fff;
  border-color: var(--main-green);
}

.project-type-checkbox-item input:checked + label .project-type-title {
  color: #fff;
}

.project-team-type-ragio-item input {
  display: none;
}

.project-team-type-ragio-group {
  margin-top: 25px;
  margin-left: -7px;
}

.project-team-type-ragio-item input ~ label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #c7c8c8;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.project-team-type-ragio-item input ~ label::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid #b2e6d2;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}
.project-team-item
  > input:checked
  + label
  .project-team-type-ragio-item
  > input
  ~ label::before {
  background-color: var(--main-green);
  border-color: #fff;
}

.project-team-item
  > input:checked
  + label
  .project-team-type-ragio-item
  > input:checked
  ~ label::before {
  border-color: #fff;
  padding: 2px;
  background-color: #fff;
  background-clip: content-box;
}

.project-team-item
  > input:checked
  + label
  .project-team-type-ragio-item
  > input
  ~ label {
  color: #fff;
}
