.project-description .title {
  margin-bottom: 35px;
}

.project-description {
  padding: 50px 0;
}
.project-description.w-padding {
  padding: 180px 0;
}

.project-description.web-project-playcrowd,
.project-description.web-project-pastry,
.project-description.web-project-timber {
  padding: 115px 0;
}
