.project-technology-stack {
  padding: 120px 0;
}

.project-technology-stack .title {
  margin-bottom: 55px;
}

.project-technology-stack .base-list + .base-list {
  margin-left: 40px;
}

.project-technology-stack.web-project-playcrowd .base-list + .base-list {
  margin-left: 220px;
}
.project-technology-stack.web-project-timber .right-side {
  margin-left: 300px;
}
