[class*="paralax-target"] {
  position: absolute;
  z-index: -1;
}

.paralax-target-1 {
  top: -116px;
  left: 510px;
}

.image-preview {
  position: relative;
}

.paralax-target-2 {
  top: 410px;
  left: 10%;
}

.paralax-target-3 {
  top: 140px;
  right: 17%;
}

.paralax-target-4 {
  bottom: 65px;
  right: -200px;
}

.paralax-target-5 {
  bottom: -45px;
  right: 200px;
}

.web-project-pastry.project-description {
  position: relative;
}
