@media screen and (max-width: 1629px) {
  .project-technology-stack .left-side {
    width: 70%;
  }

  .character-wrap {
    display: none !important;
  }

  .character-wrap-mobile {
    display: block;
  }

  .character-carousel-mobile .character-slide {
    position: relative;
    padding: 100px 0;
  }

  .character-carousel-mobile .character-slide .game-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 700px;
  }

  .character-carousel-mobile .slick-dots {
    bottom: -50px;
  }

  .centered-text.w-icon .centered-text-icon {
    left: -155px;
  }

  .project-technology-stack.web-project-timber .right-side {
    margin-left: 0;
  }
}
@media screen and (max-width: 1199px) {
  .project-technology-stack .left-side,
  .project-technology-stack .right-side {
    width: 100%;
  }

  .project-technology-stack .right-side {
    margin-top: 80px;
  }

  .related-works .related-works-list .image-card {
    margin-bottom: 40px;
  }
  .lax {
    display: none;
  }
  .centered-text.w-icon .centered-text-icon {
    display: none;
  }
  .character-carousel-mobile .character-slide .game-preview {
    height: 600px;
  }
  .character-carousel-mobile .character-slide {
    padding: 90px 0;
  }
  .character-carousel-mobile .slick-dots {
    bottom: -30px;
  }
}

@media screen and (max-width: 991px) {
  .related-works .container {
    flex-wrap: wrap;
  }

  .related-works-wrap + .related-works-wrap {
    margin-left: 0;
    margin-top: 40px;
  }
  .project-description.w-padding {
    padding: 100px 0;
  }
  .character-carousel-mobile .character-slide .slide-bg-wrap {
    overflow: hidden;
  }
  .character-carousel-mobile .character-slide .slide-bg {
    max-width: none;
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .web-project-inner {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .web-project-inner .article {
    margin-top: 50px;
  }
  .negative-margin.web-project-timber {
    margin-top: -100px;
  }
  .project-preview-images .image-item {
    margin-left: -85px;
  }
  .project-technology-stack .left-side .list-wrap {
    flex-wrap: wrap;
  }
  .project-technology-stack .left-side .list-wrap .base-list {
    margin-left: 0;
  }
  .project-technology-stack .left-side .list-wrap .base-list + .base-list {
    margin-top: 40px;
  }
}

@media screen and (max-width: 575px) {
  .project-preview-images .image-item {
    margin-left: -50px;
  }

  .project-technology-stack .title {
    margin-bottom: 30px;
  }

  .project-technology-stack {
    padding: 70px 0;
  }

  .image-preview.web-project-timber img {
    transform: scale(1.5);
    width: 100%;
    max-width: none;
  }

  .related-works .related-works-list {
    justify-content: center;
    flex-wrap: wrap;
  }

  .project-description.web-project-pastry {
    padding: 85px 0;
  }

  .range-image-wrap .range-img {
    height: 590px;
  }
  .character-carousel-mobile .character-slide .game-preview {
    height: 350px;
  }
  .character-carousel-mobile .character-slide .slide-bg {
    height: 250px;
  }
  .character-carousel-mobile .character-slide {
    padding: 50px 0;
  }
  .project-description.w-padding {
    padding: 80px 0;
  }
}
