:root {
  --call-to-action-bg: #f5f5f5;
}

.call-to-action-wrap {
  max-width: 1785px;
  margin: auto;
  padding: 80px 100px 100px;
  background-color: var(--call-to-action-bg);
}

.call-to-action-wrap .title-wrap {
  margin-bottom: 80px;
}

.call-to-action-wrap .title-wrap .title {
  margin-bottom: 0;
}

.call-to-action-wrap .block-icon {
  margin-right: 34px;
}

.call-to-action-content .left-side {
  width: 100%;
  max-width: 500px;
}

.call-to-action-content .left-side .article {
  margin-bottom: 50px;
}

.call-to-action-content .right-side .follow-us-list {
  margin-left: 160px;
  margin-right: -35px;
}
