.header {
  padding: 37px 0;
  position: absolute;
  top: 0;
  left: 0%;
  right: 0;
}

.header-nav a {
  padding: 12px 18px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 17px;
  transition: all 0.1s ease-in;
  line-height: 0.7;
}

.header-nav a + a {
  margin-left: 27px;
}

.header-nav a:hover,
.header-nav a.active {
  background-color: var(--main-green);
  color: #fff;
}

.header.bg-black .header-nav a,
.header.bg-transparent .header-nav a {
  color: var(--main-white);
}
