.header {
  padding: 37px 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
  width: 100%;
  left: 0;
  z-index: 99;
}

#logo {
  width: 32px;
}

#fgf {
  width: 105px;
  margin-left: 27px;
}

.nav-up {
  top: -107px;
  position: fixed;
}

.nav-down {
  background: #fff;
  padding: 37px 0;
  position: fixed;
}

header.is-fixed {
  position: fixed;
  top: -107px;
  z-index: 999;
  background: #fff;
  -webkit-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
}
header.is-fixed.menu-open {
  top: -160px;
}
header.is-fixed.show-header {
  top: 0;
}
.bg-transparent.is-fixed.show-header {
  background: #fff;
}

.bg-transparent #logo,
.bg-transparent #fgf {
  fill: var(--main-white);
}

.header-nav a {
  padding: 12px 18px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 17px;
  transition: all 0.1s ease-in;
  line-height: 0.7;
}

.header-nav a + a {
  margin-left: 27px;
}

.header-nav a:hover,
.header-nav a.active {
  background-color: var(--main-green);
  color: #fff;
}

.header.bg-black .header-nav a,
.header.bg-transparent .header-nav a {
  color: var(--main-white);
}

.bg-transparent.is-fixed.show-header .header-nav a {
  color: #0a0b0f;
}

.bg-transparent.is-fixed.show-header #logo,
.bg-transparent.is-fixed.show-header #fgf {
  fill: #0a0b0f;
}

.nav-down .header-nav.background-white a {
  color: #0a0b0f;
}

.nav-down .header-nav.background-white a:hover {
  color: #fff;
}

.nav-down a.logo.background-white img {
  filter: brightness(0);
}
