.base-list {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-black);
}

.base-list li:hover a {
  transition: all 0.1s ease-in;
  color: var(--main-green);
}

.base-list--light {
  font-size: 14px;
}

.base-list--icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 23px;
  max-width: 250px;
}

.base-list--icons.store-icons {
  font-size: 39px;
}

.base-list li + li {
  margin-top: 15px;
}

.base-list--icons li {
  margin-top: 30px;
  margin-right: 35px;
}

.base-list--icons.store-icons li {
  margin-top: 0px;
}

.base-list--icons.store-icons li:hover i {
  color: var(--main-gray) !important;
}

.base-list--icons li + li {
  margin-top: 30px;
}

.base-list--with-active-links {
  margin-top: -8px;
}

.base-list--with-active-links li {
  margin-left: -15px;
  margin-right: -15px;
}

.base-list--with-active-links li + li {
  margin-top: 0;
}

.base-list--with-active-links a {
  padding: 8px 15px;
  border-radius: 17px;
  display: inline-block;
  transition: all 0.1s ease-in;
}

.base-list--with-active-links a.active,
.base-list--with-active-links a:hover {
  background-color: var(--main-green);
  color: #fff;
}
.base-list--with-active-links a.active .list-count-bage,
.base-list--with-active-links a:hover .list-count-bage {
  color: #fff;
  opacity: 0.7;
}

.list-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
}

.base-list--w-dots li {
  position: relative;
  padding-left: 45px;
}

.base-list--w-dots li::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--main-green);
  position: absolute;
  left: 0;
  top: 2px;
  transform: rotate(45deg);
  border-radius: 2px;
}

.list-count-bage {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-left: 12px;
  color: var(--main-green);
}

.base-list--without-title {
  margin-top: 45px;
}
