.popover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  border: 1px solid #00ac6a;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  margin-left: 28px;
  max-width: 480px;
  opacity: 0;
}
.popover.show {
  opacity: 1;
}

.popover-body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.popover::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid var(--main-green);
  border-right: none;
  border-top: none;
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%) rotate(45deg);
}

.popover .popover-header {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
}

[data-toggle="popover"] {
  cursor: pointer;
  position: relative;
}

.active-poppover::before {
  content: "";
  border-radius: 13px;
  border: 1px solid var(--main-green);
  padding: 5px 10px;
  width: calc(100% + 20px);
  height: calc(100% + 10px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
